<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/logo-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/logo-16x16.png">
		<link rel="manifest" href="/icons/site.webmanifest">
		<meta name="theme-color" content="#27E">
		<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
		<meta name="author" content="James Kajon">
		{% capture description %}{% if page.description %}{{ page.description | strip_html }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
		<meta name="description" content="{{ description }}">
		<meta property="og:type" content="website">
		<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
		<meta property="og:url" content="{{ page.url | absolute_url }}">
		<meta property="og:description" content="{{ description }}">
		{% if page.collection %}
			{% for file in site.static_files %}
				{% assign path = '/assets/' | append: page.slug | append: '/icon' %}
				{% if file.path contains path %}
					<meta property="og:image" content="{{ file.path | absolute_url }}">
				{% endif %}
			{% endfor %}
		{% else %}
			<meta property="og:image" content="https://jameskajon.com/james-kajon.jpg">
		{% endif %}
		<meta name="x-build-time" content="{{ site.time | date_to_rfc822 }}">
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
		<link rel="prefetch" href="{{ '/font1.woff2' | relative_url }}" as="font" crossorigin>
		<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
		<script type="module" src="{{ '/main.js' | relative_url }}"></script>
		{% if page.url == '/' %}
			<script src="{{ '/assets/javascript/timeago.min.js' | relative_url }}"></script>
			<script type="module" src="{{ '/index.js' | relative_url }}"></script>
		{% endif %}
	</head>
	<body>
		<section class="hero">
			<div class="hero-head">
				<div class="container">
					<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
						<div class="navbar-brand">
							{% if page.url == '/' %}
								<a id="unicorn-btn" class="navbar-item" href="https://sindresorhus.com/unicorn" title="Click me!">
									<img src="/icons/logo-32x32.png" alt="James A. Kajon"
										 srcset="/icons/logo-16x16.png 16w,
												 /icons/favicon.ico 16w,
												 /icons/logo-32x32.png 32w,
												 /icons/logo-180x180.png 180w,
												 /icons/logo-192x192.png 192w,
												 /icons/logo-512x512.png 512w"
										 sizes="28px">
								</a>
							{% else %}
								<span class="navbar-item">James A. Kajon</span>
							{% endif %}
							<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
								<span aria-hidden="true"></span>
								<span aria-hidden="true"></span>
								<span aria-hidden="true"></span>
							</a>
						</div>
						<div class="navbar-menu">
							<div class="navbar-end">
								<a class="navbar-item is-tab" href="{% link index.html %}">Home</a>
								<a class="navbar-item is-tab" href="{% link experiences.md %}">Experiences</a>
								<a class="navbar-item is-tab" href="{% link projects.md %}">Projects</a>
								<a class="navbar-item is-tab" href="{% link about.md %}">About</a>
								<a class="navbar-item is-tab" href="{% link contact.md %}">Contact</a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</section>
		{{ content }}
		<script data-goatcounter="https://jameskajon.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
	</body>
</html>
